@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --darkgrey: #2A324B;
    --lightgrey: #58699D;
    --whiteish: #E1E5EE;
    --white: #ffffff; 
}

body{
    background-color: var(--whiteish);
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: "roboto"; 

    header{
        margin-top: 10rem;
        margin-left: 5rem;
        margin-right: 5rem;
        width: 80%;
        nav{
            
            ul{
                display: flex;
                list-style-type: none;
                margin:0;
                padding: 0;
                width: 100%;
                justify-content: space-between;
                a{
                    background-color: var(--darkgrey);
                    color: var(--white);
                    text-decoration: none;
                    padding: 1.5rem 3rem ;
                    font-size: 20px;
                    
                    margin: 0 0.5rem;
                }
                /*For at de to siste ikke skal dytte seg selv innover*/
                #htmlSite{ 
                    margin-left: 0;
                }
                #sanityCmsSite{
                    margin-right: 0;
                }
            }
        }
    }
    main{
        margin: 1rem 5rem 0 5rem; /*top, right, bottom, left (som en klokke)*/
        width: 80%;

        article{
            background-color: var(--white);
            color: var(--darkgrey);
            padding: 2rem;
             a{
                color: var(--lightgrey);
             }
        }
    }
}