:root{
    --darkgrey: #2A324B;
    --lightgrey: #58699D;
    --whiteish: #E1E5EE;
}

body{
    background-color: var(--lightgrey);
    display:flex;
    flex-direction: column;
    align-items: center;

    header{
        margin-top: 10rem;
        margin-left: 1rem;
        margin-right: 1rem;

        nav{
            
            ul{
                display: flex;
                list-style-type: none;
                margin:0;
                padding: 0;
                width: 100%;
                justify-content: space-between;
                a{
                    background-color: var(--darkgrey);
                    color: var(--whiteish);
                    text-decoration: none;
                    padding: 1rem 2rem ;
                    font-size: 20px;
                    margin: 1rem;
                }
                #htmlSite{
                    margin-left: 0;
                }
            }
        }
    }
    main{
        margin-left: 1rem;
        margin-right: 1rem;
        article{
            background-color: var(--whiteish);
            color: var(--darkgrey);
            padding: 2rem;
        }
    }
}